# haproxy.cfg
global
    master-worker
    maxconn 4048
    nbthread 2
    tune.maxaccept 1000
    tune.bufsize 16384
    stats timeout 2m

defaults
    timeout connect 2s
    timeout client 5s
    timeout server 5s
    timeout http-request 5s
    maxconn 4024

frontend http
    bind *:9999
    mode http
    timeout client 10s
    use_backend payment if { path /payments }
    use_backend summary if { path /payments-summary }

backend payment
    mode http
    balance leastconn
    server s1 api01:8080
    server s2 api02:8080
    timeout connect 5s
    timeout server 5s

backend summary
    mode http
    balance leastconn
    server s1 api01:8080
    server s2 api02:8080 backup
    timeout connect 30s
    timeout server 30s

frontend payment-processor
    bind *:9991
    mode http
    timeout client 5s
    use_backend payment_gateway_circuit_breaker

backend payment_gateway_circuit_breaker
  option httpchk GET /payments/service-health
  http-check expect status 200
  http-check expect string false
  mode http
  balance roundrobin

  http-response add-header X-Served-By %[srv_name]

  server default payment-processor-default:8080 check inter 5s fall 1 rise 1
  server fallback payment-processor-fallback:8080 backup check inter 5s fall 1 rise 1
  retries 1
  option redispatch
  timeout connect 5s
  timeout server 5s



# Optional monitoring tool
frontend stats
  mode http
  bind *:8404
  stats enable
  stats refresh 10s
  stats uri /stats
  stats show-modules
